.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px); /* Set width to fit two cards in a row with margin */
    box-sizing: border-box; /* Include padding and border in the width */
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
